/* * - застосовуємо для всіх*/
* {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  list-style: none;
}
/* text-deciration - none - вимикає підчеркування посилань */
a {
  text-decoration: none;
}
.container {
  width: 1158px;
  padding: 0 15px
  margin: auto 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div {
  margin-top: 0;
  margin-bottom: 0;
}

/* Header section start */
body {
  color: #434455;
  background-color: #ffffff;
}

.header-navigation-direction,
.header-navigation-address {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  margin: 24px 0px 24px 0px;
}
.header-navigation-direction ul,
.address-list-iteam {
  display: flex;
}
.header-navigation-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-l-c {
  color: #2e2f42;
}

.header-navigation-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  gap: 40px;
}
.header-navigation-a_l {
  margin-right: 0;
}
.header-navigation-a:hover,
.header-navigation-list:hover {
  color: #404bbf;
}
.header-navigation-a:focus,
.header-navigation-list:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-list {
  align-items: center;
  gap: 40px;
}
/* .address-list-iteam {
  gap: 40px;
  display: flex;
  align-items: center;
} */
.address-list-iteam-a {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list-iteam-a:hover,
.address-list-iteam-a:focus {
  color: #404bbf;
}

/* Header section end */
.hero-banner-title,
.hero-banner-button,
.hero-banner-button:hover {
  color: #ffffff;
}

.team-list-iteam-text,
.benefits-list-iteam-text,
.portfolio-list-iteam-text {
  color: #434455;
}
/* Hero-banner section srart */
.hero-banner {
  background-color: #2e2f42;
  padding: 188px 0px;
  /* 472px */
}
.hero-banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  justify-content: center;
  max-width: 496px;
  margin-bottom: 48px;

  /* padding-bottom: 48px; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.hero-banner-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto 636px;
  margin-right: auto 635 px;
  text-align: center;
  justify-content: center;
}
.hero-banner-button:hover {
  background-color: #404bbf;
}
.hero-banner-button:focus {
  background-color: #404bbf;
}
/* Hero-banner section end */

/* Benefits section start*/
.benefits {
  padding: 120px 0;
}

.benefits-list-iteam-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  max-width: 496px;
  margin-bottom: 8px;
}
.benefits-title {
  max-width: 496px;
}
.benefits-list {
  display: flex;
  gap: 24px;
  margin-right: 24px;
  flex-basis: calc((100% - 3 * 24px));
}
.benefits-list-iteam:last-child {
  margin-right: 0;
}

.benefits-list-iteam-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
/* Benefits section end*/

/* Team section start*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding: 32px 0;
}
.team-list-iteam {
  background-color: #ffffff;
}
.team-list-iteam-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-iteam-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}
/* Team section end*/

/* Portfolio section start */
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-iteam-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.address-list-iteam:first-child {
  width: calc((100% - 48px) / 3);
}
.portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-iteam-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Portfolio section end */

/* Bottom section start */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* Bottom section end */
